* {
  font-family: 'Kanit', sans-serif;
}

.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #08070b;
  overflow-x: hidden;
}

kbd {
  background-color: #8f9ba8;
  border-radius: 5px;
  color: #08070b;
  font-weight: bold;
  padding: 2px 4px;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3);
  }
  30% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(0.5);
  }
  80% {
    transform: scaleY(0.75);
  }
  100% {
    transform: scaleY(0.6);
  }
}

.bar-animate {
  transform-origin: bottom;
  animation: bounce 2.2s ease infinite alternate;
  animation-play-state: running; 
}

.bar-animate:nth-of-type(2) {
  animation-delay: -2.2s;
}

.bar-animate:nth-of-type(3) {
  animation-delay: -3.7s;
}

.bar-animate:nth-of-type(4) {
  animation-delay: -4.2s;
}
