*{
    font-family: "Kanit", sans-serif;
}

.App{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body{
    background-color: #08070b;
    overflow-x: hidden;
}

kbd{
    background-color: #8f9ba8;
    border-radius: 5px;
    color: #08070b;
    font-weight: bold;
    padding: 2px 4px;
}

::-webkit-scrollbar{
    display: none;
}